@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
}

:root {
  --bg-color: rgb(237, 242, 247);
  --text-color: black;
  --bg-white: rgb(221, 217, 217);
  --text-dark: #4a4949d5;
  --links-color: #1e38ff;
}

.dark-mode {
  --bg-color: rgb(28, 27, 27);
  --text-color: white;
  --bg-white: #1f1f1fa2;
  --text-dark: #cccccc;
  --links-color: #1e90ff;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color);
  color: var(--text-color);
}

body a {
  color: var(--links-color);
}